<h1>Why JSTAYS?</h1>
<p>
Finding a home-away-from-home can be intimidating. Finding an appropriate roommate even more so, and traveling as an observant Jew can be so intimidating that it's tempting just to stay at home.
<p>
We hope that JSTAYS will change all that. While there are ever-increasing websites offering short and long term apartment rentals, until now there haven't been any others that cater to the Jewish renter. Whether you are looking for a kosher kitchen, a vegetarian only kitchen, want proximity to a synagogue or kosher restaurants, want an observant or observant-friendly roommate, or just want to be able to find out more about the owner or about the area you'll be staying in, JSTAYS makes it easy.
<p>
We try to give the traveler as much useful information as possible in a format that is easy to use.
<p>
This site is intended to help you find a short term rental for your vacation or a long term rental for that first year or two in a new place. Or, if you're looking for a compatible roommate, JSTAYS should make that easier too.
<p>
We also have a travel blog with useful (and some not so useful, but fun) ideas on making travel easier. We hope, over time, to expand JSTAYS to include useful information for the Jewish traveler in as many places as Jewish travelers have gone, and we're hoping you will help us by adding your thoughts and experiences as well! So stay tuned for updates on information on where to stay when you are traveling to a foreign country.
<p>
In the meantime, please feel free to email us with questions. Comment on our blog and just keep in touch.
<p>
Think of us as your friends in the front line and make sure you comment on our blog, post interesting places you’ve been and give some helpful tips to the other readers. Happy Traveling!
<p>
info@JSTAYS.com
<br>

<h2>The Team</h2>
	
<h3>Allon Franklin</h3>
<p>
Hailing from Australia, Allon spends his “real” work time in the financial services industry. If he has a day off you won’t find him spending it at home. You’re more likely to find him camping out on Sunday night, running to Rhode Island or Paradise Island for a long weekend or in Cambodia for a week’s vacation. The fact that he has three kids doesn’t seem to slow him down; he takes the baby to synagogue in a backpack, why not India?
	
<h3>Bat Sheva Marcus</h3>
With 3 Masters degree and a PhD, Bat Sheva thought the only place she’d ever get to travel was to school and back. Although that was true for a while the last few years have left time to get to resorts and great restaurants. While her days are spent in the medical arena, her evenings are spent hunting down good travel deals.
	
<h3>Cheryl Provorny</h3>
<p>
After getting her MBA from Wharton, Cheryl hoped to never have to work for someone else ever again. Alas, student loans and three children put the kibosh on that. Having a 5 year old a 2 year old and a newborn has not stopped her wanderlust. She has traveled to more places in the past 5 years than most people have done in a lifetime. And she has the pictures to prove it.