/*		GENERAL						*/

*									{	font-family:arial; }
img									{	border:none; }
a									{	outline:0; }
a:hover								{	text-decoration:none; }
form									{	display:inline; }
table									{	border-collapse:collapse; }
td									{	text-align:left; padding:0; }

.main_area h2						{	color:#1777B3; font-size:18px; margin-bottom:10px; }

/*		FORMS						*/

.regularForm .formSpace				{	font-size:2px; line-height:2px; height:4px; }
.smallGray, .smallGray *				{	font-size:12px; color:#5C9DC5; line-height:16px; font-style:italic; }
.regularForm textarea					{	width:198px; }
.regularForm select					{	width:200px; }
.regularForm .text, .regularForm .password
									{	width:198px; }
.regularForm textarea, .regularForm select, .regularForm .text, .regularForm .password
									{	border:1px solid #3D7FA9; }
#submit								{	display:inline-block; width:129px; height:0; padding-top:31px; overflow:hidden;
										background-image:asset-url("/buttons/button_submit1.png"); }
#submit:hover						{	background-image:asset-url("/buttons/button_submit2.png"); }
.login_yes							{	display:inline-block; width:238px; height:0; padding-top:31px; overflow:hidden;
										background-image:asset-url("/buttons/button_login_yes1.png"); }
.login_no							{	display:inline-block; width:294px; height:0; padding-top:31px; overflow:hidden;
										background-image:asset-url("/buttons/button_login_no1.png"); }
.login_no:hover						{	background-image:asset-url("/buttons/button_login_no2.png"); }
.login_yes:hover					{	background-image:asset-url("/buttons/button_login_yes2.png"); }

span.stars, span.stars span			{	display:block; background:asset-url("/stars.png") 0 -16px repeat-x; width:80px; height: 16px; }
span.stars span						{	background-position: 0 0; }
