#top_table ul {
  margin-bottom: 0;
  margin-top: 8px;
}
#header-sign-in {
  padding-top: 4px;
}

#footer-outer-bar {
	height: 63px;
	background-image: image-url('general/bg_blue.jpg');
	#footer-inner-bar {
		height: 63px;
		width: 1086px;
		background-image: image-url('general/bg_middle.jpg');
	}
}
.h1_wrapper h1 {
	margin-right: auto;
	margin-left: auto;
}

