#footer-outer-bar {
	height: 63px; 
	background-image: url('general/bg_blue.jpg');
	#footer-inner-bar {
		height: 63px; 
		width: 1086px; 
		background-image: url('general/bg_middle.jpg');
	}
}
.h1_wrapper h1 {
	margin-right: auto;
	margin-left: auto;
}
