// sep 30 2013
// #property-main-display {
// 	padding: 10px;
// 	border: 1px solid black;
// 	background : lighten(#363636, 30%);
// }
// #property-details {
// 	border: 1px solid black;
// 	background: yellow;
// }

// .pane {
// 	padding: 10px;
// 	border: 1px solid black;
// 	background : lighten(#363636, 30%);

// }
#at_a_glance {
	th, td {
		padding-left: 7px;
		padding-right: 2px;
	}
}
.amenity-item {
	width: 180px;
	display: inline-block;
}

#current_content {
  .main_info_text {
    text-align: left;
    margin-bottom: 10px;
  }
  #map {
    #map-canvas-holder {
      // height: 350px;
    }
  }
}
