label.required:before, .jstays-label.required:before {
    content: " *";
    color: red;
}
body {
    background: url("general/bg_top_inner_pages.jpg") repeat-x 0 0;
}

.pull-right {
  float: right;
}
.horizontal-nav {
	ul {
		margin: 0;
		li {
			display: inline-block;
		}
	}

}

.fitem1 {
	margin-bottom: 10px;
	input {
		width: 200px;
	}
	textarea {
		width: 200px;
	}
	label {
		width: 100px;
		display: inline-block;
		margin-right: 5px;
		font-weight: bold;
	}
}
.actions {
	text-align: center;
}


